@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body { 
    font-family:"Roboto", sans-serif; 
    max-width: 500px; margin: 20px auto; 
    background:   radial-gradient(at 47% 33%, hsl(162.42, 0%, 100%) 0, transparent 59%), 
    radial-gradient(at 82% 65%, hsl(198.00, 100%, 50%) 0, transparent 55%);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100vh;

    
}
main{
    padding: 20px 80px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background-color: #fff;
    margin: 0 auto;

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(226, 226, 226, 0.53);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}
input { 
    display: block; 
    background-color: #fffdfd;
    width: 100%; 
    margin-bottom: 10px; 
    padding: 12px; 
    box-sizing: border-box; 
    border-radius: 10px;
    border: 1px solid #8b8b8b;
}

button { 
    width: 100%; 
    padding: 10px; 
    background: linear-gradient(to bottom,hsl(123, 60%, 52%) ,hsl(123, 70%, 56%)); 
    color: white; border: none; 
    cursor: pointer;
    border-radius: 10px; 
}

ul { 
    list-style: none; 
    padding: 0; 
    margin-top: 20px; 
}

li {
    padding: 10px; 
    border-bottom: 1px solid #eee; 
}